{
  "app": {
    "guid": "8cb37a83-e9f6-4dd6-90b4-2811cee04caf"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null
  },
  "security": {
    "token": "OGNiMzdhODMtZTlmNi00ZGQ2LTkwYjQtMjgxMWNlZTA0Y2Fm",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}