{
  "app": {
    "guid": "8cb37a83-e9f6-4dd6-90b4-2811cee04caf"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "OGNiMzdhODMtZTlmNi00ZGQ2LTkwYjQtMjgxMWNlZTA0Y2Fm",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Normal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.tutorialalterarstylecolorcomponentesvisuais",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "social": "false",
      "theme": "Material",
      "authentication": "Normal",
      "mutual": "false"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO"
}